body {
	background-image: url("../Images/Calling Card Background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
#div1 {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	text-align: center;
	color: white;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	font-family: 'earwig_factoryregular';
	font-size: 2em;
}
a {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	text-align: center;
	color: white;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	font-family: 'earwig_factoryregular';
	text-decoration: none;
}
#div2 {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	font-family: 'p5hattyregular';
	font-size: 24px;
	text-align: center;
}
#div3 {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	font-family: 'p5hattyregular';
	font-size: 24px;
}
#backgroundImage {
	position: relative;
}
#textBox {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	font-family: 'p5hattyregular';
	font-size: 24px;
	position: absolute;
	padding-left: 150px;
	padding-right: 150px;
	top: 90px;
	bottom: 110px;
	right: 40px;
	left: 50px;
}
#textBox2 {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	font-family: 'p5hattyregular';
	font-size: 24px;
	position: absolute;
	padding-left: 150px;
	padding-right: 150px;
	top: 90px;
	bottom: 50px;
	right: 80px;
	left: 50px;
}
#textBox3 {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	font-family: 'p5hattyregular';
	font-size: 24px;
	position: absolute;
	padding-left: 150px;
	padding-right: 150px;
	top: 95px;
	bottom: 100px;
	right: 10px;
	left: 50px;
}
#textBox4 {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	font-family: 'p5hattyregular';
	font-size: 20px;
	position: absolute;
	padding-left: 150px;
	padding-right: 150px;
	top: 90px;
	bottom: 110px;
	right: 100px;
	left: 60px;
}